<html>
	<head>
		<title>Error Interno del Servidor</title>
	</head>
	<body>
		<div style=" margin:25px auto; overflow:hidden;border-radius:50px;">
			<img src="{{ asset('bundles/todo/img/error-500.png') }}" alt="Error 500"/>
		</div>
	</body>
</html>