#header{
    background:white; 
    padding:0px;
    
}

.fuenteGaramond
{
    /*font-family: 'EB Garamond', serif;*/
}

 #divNavbar
 {
      background:#031c3a;
      border-bottom:white solid 3px;
 }
 
#myNavbar
{
    background:#031c3a;
    border-radius: 0px;
    margin:0px;
    color:#ffffff;
    margin-bottom: 0px;  
    border-left-width: 0px;
    border-right-width: 0px;
    border: 0;  
}

#myNavbar a
{
    color:white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
#myNavbar a:hover, #myNavbar a:focus {
    color: #ffb950;
    background-color:#031c3a;
}

.active
{
    color: #031c3a;
    background-color:#ffb950;
}

#myNavbar .active:hover
{
    color: #031c3a;
    background-color:#ffb950;
}

#DropDownConsultas
{
    background:#031c3a;
    color:White;
    padding-bottom: 0px;
    padding-top: 0px;
}

#DropDownConsultas li>a
{
    padding-bottom: 10px;
    padding-top: 10px;
}

#DropDownConsultas .open>a, #DropDownConsultas .open>a:focus
{
    color: #ffb950;
    background-color:#031c3a;
}

#DropDownConsultas li>a:hover
{
   color: #ffb950;
    background-color:#031c3a;
}

#menuResponsive
{
    background:#031c3a;
    margin-left: 0px;
    margin-right: 0px;
}

#menuResponsive span
{
    background:White;
}


#title
{
    margin-bottom:25px;
    margin-top:25px;
}

#title span
{
    margin-top:25px;
    padding-left:0px;
}

#ingresar
{
    text-decoration:none;
    color:#999999;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
#ingresar:hover
{
    cursor:pointer;
}





#conectar
{
    margin-top:15px;
    margin-right:5px;
}
/*

#title span,#logindisplay a,#logindisplay
{
    color:White;
}*/


#main
{
    margin-bottom:30px;    
}

#footerCarrousel
{
    width:100%;
    background-color:#e5e5e5;
    position:relative;
    left:0;
    bottom: 0;
    margin-left: 0;
}

#footerCarrousel li
{
    margin-bottom:20px;
    margin-top:20px;
    background-color:#999999;
    width:11px;
    height:11px;
    border: 1px solid #999999;
}

#footerCarrousel .active
{
    background-color:#001c43;
    width:11px;
    height:11px;
    border: 1px solid #001c43;
}


#dropdownLogin
{
    background-color:rgba(122,122,122,0.8);
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    padding:15px;
    font-size:12px;
    width:500px;
   
}

.logInTextBox
{
    border-radius:0;
    border: 0px;
    height:30px;
    color:Black;
}

.divLogin
{
    margin-bottom:10px;
    margin-left: 0;
    margin-right: 0;
}

.btnLogIn
{
    border-radius: 0px;
    border: 0;
    background-color: #ffb950;
    
}

.btn-submit {
    font-weigh: bold;
}

/*-------------------------Estilo Tablas-----------------------------------------------------*/

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #EBEBEB;
}











/*--------------------------Estilo Footer-------------------------------------------------*/


#footer .row{background:#999999;padding:0;clear:none;}
#footer .col-md-8{background:#cccccc; }
#footer p{}
.inicio{min-height:470px; position:relative; clear:both; }
.estado_cambio{background:url(../imagenes/activoy.png) 0 0 no-repeat;z-index:1; width:16px; height:16px;position:absolute; top:50%;margin-top:-8px; left:5px;padding-top:0.4em;}
.ui-state-hover .estado_cambio{background:url(../imagenes/activog.png) 0 0 no-repeat;}


#sec_footerdivNavbar{ padding-left:0; padding-right:0; }

.pad-tb-25 {
padding-top: 28px;
padding-bottom: 28px;
}

.plomo {
color: #e5e5e5;
}

/*---------------------------------------drop*/






/*---------------------------------------------------------------ESTUDIANTES--------------------------------------------------------------*/
.titlesContent
{
    border-bottom:2px solid #ffb950;
    color:#031c3a;
    margin-top:10px;
    margin-bottom:10px;
}

.btnEstConsult
{
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-right: 25px;
    color:#031c3a;
}

.btnEstConsult:hover
{
    color:#031c3a;
    
}

.InputConsulta
{
    margin-left:15px;
}

.divConsulta
{
    margin-bottom:5px;
    margin-bottom:5px;
    margin-left: 0;
    margin-right: 0;
}
.dataTable td,.dataTable a, .dataTable p{
    font-size:12px;
}

.dataTable th{
    font-size:12px;
}
.dataTable .paginate_button {
    font-size:12px;
}
.dataTables_length label {
    font-size:12px;
}
.dataTables_filter label {
    font-size:12px;
}

.modal h1 {
    
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    text-align: center;
    color: #ffb950;
}

.msg_error{
    color: #a94442 !important;
    font-size:12PX !important;
}

.modal h3 {
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;    
    color: #031c3a;
}
.modal td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;    
    vertical-align: middle;
}
.modal .tsub1 {
    width:60%;
}

/*Css para el mostrar si el ingreso de calificaciones/rectificaciones esta activo*/
.evalActivo{
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8.5pt;
    /*font-weight : bold;*/
    color : #000000;
    background-color: #FFCC66;
    text-align: center;
    vertical-align: bottom;
}

.evalFuera, .evalTiempo, .celdaNormal{
    /*font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8.5pt;
    font-weight : bold;
    color : #000000;    */
    text-align: center;
    vertical-align: bottom;
}

.textoNegroCenter
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 9.5pt;
	color:#000000;
	text-align:center;
    font-style:italic;
}

.cuadro_pop {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 1px 10px #333,0 0 0 #333;
    -moz-box-shadow: 0 1px 10px #333,0 0 0 #333;
    box-shadow: 0 1px 10px #333,0 0 0 #333;
}

.closepop {
    position: absolute;
    right: 7px;
    top: 0px;
    z-index: 999;
    font-size: 17px;
    background: #fff;
    border: 1px solid #B9B9B9;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

a.closepop span:hover {
    color: #808080;
}
a.closepop span {
    color: #D6D6D6;
    position: absolute;
    top: 4px;
    right: 3px;
}

.loader-big {
    position:absolute;
    background: rgba(0,0,0,0.2);
    width:98%;
    height:100%;
    top:0;    
}
.loader-big img {
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-125px;
    margin-top:-114px;
}

#tabla_resultados {
    margin-top:10px;
}
.evalFuera{
    background:#C7C7C7;
}
td .evalFuera {
    background-color: transparent;
}
.evalFuera a,
.evalTiempo a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.evalTiempo a {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.evalTiempo a.active.focus, 
.evalTiempo a:active:hover {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
     text-decoration: none;
}
.evalTiempo a:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    text-decoration: none;
}

.evalFuera a {
    color: #333;
    background-color: #C7C7C7;
    border-color: #908C8C;
}
.evalFuera a.active, .evalFuera a:active{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}
.evalFuera a:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
    text-decoration: none;
}

.deudasi {
    color:red;
}
.deudano {
    color:black;
    font-weight:bold;
}


.prorrogasi {
    color:red;
}
.prorrogano {
    color:black;
    font-weight:bold;
}

#creditosCarrera h3 {    
    font-size:12px;
    font-weight:bold;
}
#creditosCarrera td,#creditosCarrera th {
    padding:2px;
}
/*#creditosCarrera thead {
    background:#031c3a;
    color:white;
}*/
.field-validation-error{
    color: #a94442;
    font-weight: bold;
}
.input-validation-error {
    border-color: #a94442;
}
.input-validation-error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
h4 {
    font-weight: bold;
    text-align: center;
}
#sec_footer {
    margin-top: 25px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #CCC !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}
.select2-container {
    width: 100% !important;
}
.form-data {
    margin-top: 7px;
    display: block;
}
.dataTables_wrapper {
    margin-bottom: 25px;
}
.usuario {
    text-transform:capitalize;
}
.mostrar_icono_aceptar{
    /*background:url(../Resources/Imagen/images/button_ok.ico) 0 0 no-repeat;
    background-size:contain;
    width:20px;
    height:20px;*/

    background-image:    url(../Resources/Imagen/images/button_ok.ico);
    background-size:     contain;
    background-repeat:   no-repeat;
    display:inherit;
    
}

.mostrar_icono_rechazar{
    /*background:url(../Resources/Imagen/images/button_cancel.ico) 0 0 no-repeat;
    background-size:contain;
    width:20px;
    height:20px;*/

    background:url(../Resources/Imagen/images/button_cancel.ico);
    background-size:     contain;
    background-repeat:   no-repeat;
    display:inherit;
    
}

.mostrar_icono_pdf{
    /*pdf-act.png*/
    background-image:    url(../Resources/Imagen/images/pdf-act.png);
    background-size:     contain;
    background-repeat:   no-repeat;
    display:inherit;
    
}

.mostrar_icono_pdf_vice
{
   
    background-image:    url(../Resources/Imagen/images/pdf-act.png);
    width:25px; height:25px;
    background-size:     contain;
    background-repeat:   no-repeat;
    display:block;
    
}


.btnLogIn:hover {
    background-color: #E09525;
}
.subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #ffb950;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}
#title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.link-badge {
    background-color: #A0A0A0;
}
.link-badge-active,
.link-badge:hover {
    background-color: #031C3A;
    cursor: pointer;
}
.contentContent {
    min-height: 280px;
}
.filterContent {
    background-color: #EBEBEB;
    padding: 15px 15px 0 15px;
    border: 1px solid #DDDDDD;
}
.crousel-index {
    min-height: 450px;
}
.carousel-inner .item,
.carousel-inner .item:before, 
.carousel-inner .item:after {
    display: table;
    content: " ";
    background: #E5E5E5;
    padding: 1px 5px;
}
.carousel-inner .item img {
    max-width: 100%;
}
.login-container{
    padding: 15px 0 0px;
}
#logindisplay {
    float: right;
}
.icon-big {
    text-align: center;
    font-size: 25px;
    width: 100%;
}
.glyphicon-ok {
    color: #3c763d;
}
.glyphicon-remove {
    color: #a94442;
}
/*****LAbel table sestado ayudantias */
.label-estado {
    font-weight: bold;
}
.rechazado {
    color: red;
}
.aprobado {
    color: green;
}
.box {
    display: block;
    width: 40px;
    height: 20px;
    float: left;
    margin-right: 15px;
    border: 1px solid #A5742E;
    background: #ddd;
    border: 1px solid #999;
}
.box-naranja {
    background: #FEFFB0 !important;
    border: 1px solid #C2C338;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px;
}
.btn-appr {
    width: 100%;
    margin: 5px 0;
}
.panel-title a{
    display: block;
}
.contentContent {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        max-width: 100%;
    }
    .form-control{
        margin-bottom: 15px;
    }
    .ui-pnotify {
        width: 100% !important;
        right: 0px !important;
        top: 15px !important;
    }
    #logindisplay .dropdown {
        margin: 0px !important;
    }
    /*#logindisplay #dropdownLogin {
        min-width: auto !important;
    }*/
    .table-responsive {
        overflow-x: scroll;
    }
    .footer h2 {
        text-align: center;
    }
    .block-portal {
        margin-bottom: 25px;
    }
}

td.details-control {
    /*background-image:    url(../Resources/Imagen/images/button_ok.ico);*/
    background: url(../Resources/Imagen/images/gvCollapsedButton.gif) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(../Resources/Imagen/images/gvExpandedButton.gif) no-repeat center center;
}

.asterisco {
    font-weight: bold;
    font-size: 20px;
}
.asterisco-input {
    float: right;
    width: 96% !important;
}
/***------------- PORTAL --------------------***/
.header, .header-portal {
    background-color: #26224E;
}
.header-portal {
    min-height: 140px;
}
.title-portal {
    margin-top: 25px;
    margin-left: 65px;
}
.title-portal span{
    font-size: 27pt;
    color: #fff;
    font-family: corbel;
    margin-left: 20px;
    vertical-align: middle;
    line-height: normal;
}
.header-border-portal {
    height: 5px;
    background: rgba(255,255,255,1);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,173,8,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(227,173,8,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,173,8,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,173,8,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,173,8,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(227,173,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3ad08', GradientType=1 );
}
.social-portal {
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 65px;
    margin-right: 65px;
}
.social-portal li {
    float: right;
    margin-left: 10px;
    list-style: none;
}
.social-portal li span {
    width: 29px;
    height: 29px;
    display: block;
}
.body-portal-imagen {
    /*background: url("Images/portal/fondo-portal.png") no-repeat center center;*/
    /*margin: 70px 0px;*/
     margin-top: 40px;
    margin-bottom: 25px;
}
.body-portal-imagen2 {
    /*background: url("Images/portal/fondo-portal.png") no-repeat center center;*/
    margin-top: 25px;
    margin-bottom: 75px;
    
}

.body-portal-imagen-min {
    /*background: url("Images/portal/fondo-portal.png") no-repeat center center;*/
    /*margin: 70px 0px;*/
     margin-top: 25px;
    margin-bottom: 5px;
}
.body-portal-imagen-min2 {
    /*background: url("Images/portal/fondo-portal.png") no-repeat center center;*/
    margin-top: 5px;
    margin-bottom: 25px;
    
}
.block-portal{
    /*padding-left: 0;
    padding-right: 0;
    position: relative;
     margin: 0 10px 10px 0;*/
     
    
}
.block-portal .block-text {
    position: absolute;
    bottom: 5%;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
     left:25px;


}

.block-portal .block-informacion {
    position: absolute;
    bottom: -10%;
    font-size: 10px;
    color: #878787;
    left:145px;


}
.block-portal .block-text-blue {
    color: #25223f;
    
}
.block-portal .block-portal-img {
    width: 100%;
    height: 100%;
}

.block-portal .block-portal-icon{
    height: 55%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    transition: width 0.25s linear, height 0.25s linear;
}
.block-portal a:focus .block-portal-icon,
.block-portal a:hover .block-portal-icon{
    height: 55%;
    width: auto;
}

.block-portal a:focus .block-portal-imagen,
.block-portal a:hover .block-portal-imagen{
    /*width: 100%;*/
    border:2px solid;
    margin:-2px;
}

@media (max-width: 990px) {
    .title-portal span {
        font-size: 18pt;
    }
    .block-portal .block-text {
        width:100px;
    }
}
@media (min-width: 768px) {
    .title-portal {
        margin-left: 25px;
    }
    .social-portal {
        margin-right: 25px;
    }
}
@media (max-width: 768px) {
    .title-portal {
        margin-top: 15px;
        margin-left: 0;
    }
    .title-portal span {
        font-size: 20pt;
    }
    .body-portal-imagen {
        
    }
    .pad-tb-25 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .block-portal .block-text {
        width:100px;
    }
}
@media (max-width: 540px) {
    .footer-portal,
    .header-portal .col-xs-12 {
        padding: 0;
    }
    .title-portal {
        text-align: center;
    }
    .title-portal span {
        font-size: 20pt;
        display: block;
        margin: 0;
        margin-bottom: 15px;
    }
    .block-portal .block-text {
        font-size: 14px;
        width:100px;
    }

    .block_item {
    margin: 0 10px 10px 0;
    display: inline-block;
    font-family: 'Segoe UI Semilight','Segoe WP Semilight','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
      }

    .block_item_icon {
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}
    .defaultWidthTile {
    width: 110px;
        }
    .workload_hyperlink {
    height: 110px;
    display: block;
    position: relative;
    text-align: center;
    background-clip: content-box;
        }


}


  #opciones
  {
        background-image: url(Images/icoHOME.png);
            /*background-position: 0px 20px, 0px 1px, 50px 1px;*/
            /*height: 50px;*/
        background-repeat: no-repeat;
        height: 20px;
  }

  #opciones:hover
  {
        background-image: url(Images/icoHOME-mo.png);
  }
  .derecha
  {
        float:right;
  }
.navbar-collapse {
    padding:0px !important;
}

.navbar-nav:first-child>li>a {
    padding-left:0px !important;
}

.clase_h1_eu
{
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    color: #ffb950;    
}

#idTablaMateriasCndm .clase_a_dt_eu 
{
    color: #337ab7;
    text-decoration: none;
}

#idTablaMateriasCndm .clase_a_dt_eu:hover
{
    text-decoration: underline;
}

#idTablaMateriasCndm tbody
{
    text-align:left;
}

.mostrar_icono_excel{

    background-image:    url(../Resources/Imagen/images/excel.PNG);
    background-size:     contain;
    background-repeat:   no-repeat;
    display:inherit;
    float: right
}

.mostrar_icono_excel:hover{

    background-image:    url(../Resources/Imagen/images/excelGris.PNG);
    background-size:     contain;
    background-repeat:   no-repeat;
    display:inherit;
    float: right
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
.popover-content .table tbody td {
    border: 1px solid #ddd !important;
}