.wg_espol_icon_main {
    background-image: url(https://www.profesor.espol.edu.ec/Content/Images/icoHOME.png);
    background-repeat: no-repeat;
    height: 33px;
    cursor: pointer;
    display: block;
}
.wg_espol_icon_main:hover {
    background-image: url(https://www.profesor.espol.edu.ec/Content/Images/icoHOME-mo.png);
}
.wg_espol_dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}
.wg_espol_dropdown_menu_right {
    right: 0;
    left: auto;
    
}
.wg_espol_open>.wg_espol_dropdown_menu {
    display: block;
}
.wg_espol_dropdown_login {
    margin-top: 8px;
    margin-right: -5px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.24);
    box-shadow: 0 0 6px rgba(0,0,0,.24);
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    background-color: rgba(122,122,122,0.8);
	border-radius: 0px;
	padding: 15px 15px 1px 20px;
    font-size: 12px;
    width: 255px;
}
.wg_espol_triang_sup {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid rgba(122,122,122,0.8);
    position: absolute;
    right: 5px;
    top: -12px;
}
.wg_espol_body_portal_imagen_min {
    margin-top: 5px;
    margin-bottom: 5px;
}
.wg_espol_block-portal-imagen{
	vertical-align: middle;
	border: 0;
}
.wg_a {
    margin: 0 !important;
    padding: 0 !important;
}
.wg_a:hover {
    background:none !important;
}
.wg_espol_block_portal {
    float: left;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.wg_espol_block_portal a:hover .block-portal-imagen {
    border: 2px solid;
    margin: -2px;
}
   
.wg_espol_block_portal img {
    width: 80px;
    height: 80px;
}

/*** boostrap css ***/
.row {
    margin-right: -15px;
    margin-left: -15px;
   
}
@media (min-width: 1200px){
	.col-lg-3 {
	    width: 25%;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	    float: left;
	}
}

@media (max-width: 370px){
    .wg_espol_dropdown_login {
	    width: auto;
    }
}