.descripcion[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}
.lista_desc[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

.comentario[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}
.objetivos[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}
.pagination{
	margin-top:4px;
	margin-right:4px;
	float:right;
}

ul:empty::after{
    content: attr(data-empty-message);
}