@font-face {
    font-family: 'Heuristica-Regular';
    src: url('../fonts/Heuristica-Regular-webfont.woff');
    src: url('../fonts/Heuristica-Regular-webfont.woff?#iefix') format('embedded-opentype'), url('../fonts/Heuristica-Regular-webfont.woff') format("opentype");
    font-style: normal;
}


body {
    margin: 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}


#header {
    padding: 30px 0 0 0px;
}

#headerlogo {
    background: url('../images/controlac.png') no-repeat;
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

#headersiglas {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Heuristica-Regular';
}
#headerunidad {
    color: #ffffff;
    font-size: 25px;
    font-family:'Heuristica-Regular';
}

#headernombre {
    padding: 0 2em 11px 80px;
    top: 0px;
    left: 0px;
}

.cajaazul hr {
    border-top: 2px solid #F5b400;
}

#newfooter {
    background-color: #a3a3a3;
}

#newfooter p {
    color: white;
    margin: 1%;
}

#header h1 {
    margin-top: 14px;
}


html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


#page {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
/*#header
{
    width:1000px;
    height:375px;
    background-image:url('../images/header.jpg');
}*/
.wrapper {
    overflow: hidden;
}

#content {
    width: 750px;
    height: auto;
    float: right;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

#content1 {
    border: 0;
    margin: 0;
    padding: 0;
}


#menu {
    margin: 0;
    padding: 0;
    border: 0;
}

#menu a {
    color: white;
    padding: 13px 15px;
}

#menu a:hover, #menu a.active {
    color: #FAB800;
    background-color: #001C43;
}

dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #FAB800;
    background-color: #001C43;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #FAB800;
    text-decoration: none;
    outline: 0;
    background-color: #001C43;
}

.navbar {
    position: relative;
    min-height: 43px;
}

.navbar-default {
    background-color: #001C43;
    border-color: #5A4A42;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #001C43;
}

.dropdown-menu {
    background-color: #001C43;
}



#footer1 {
    padding-top: 25px;
    background-color: #999999;
    color: #ffffff;
    min-height: 100px;
    text-align: center;
    font-size: 15px;
}

#footer2 {
    background-color: #CCCCCC;
    color: #999999;
    min-height: 100px;
    font-size: 9px;
    text-align: center;
}

.clearfix:after {
    display: block;
    font-size: 10px;
    /*content: "hola ";*/
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}
/* IE7 */

/*estilos*/
h1 {
    color: #828282;
    font-size: 18px;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
}

.content {
    padding: 20px;
    border: 1px solid #DCDCDC;
    margin: 20px;
    overflow: hidden;
}

ul {
    list-style: none;
}
/*ul li{text-align:justify; line-height:20px;}*/
.justify {
    text-align: justify;
}

ul.objetivos li {
    padding: 7px 0;
}

.rojo {
    color: red;
}

p {
    line-height: 20px;
}

.redes_sociales {
    height: 100%;
    margin: 0;
}

    .redes_sociales ul {
        padding: 10px 2px;
        margin: 0;
    }

    .redes_sociales li a {
        padding: 5px 0;
    }

    .redes_sociales li {
        padding: 0;
    }

/*
.redes_sociales li a{float:left; height:100%; padding:25px 5px;}*/

.logos li {
    float: left;
    margin-right: 115px;
    margin-top: 20px;
}

.content-image p {
    float: left;
    width: 250px;
    text-align: left;
}

.content-image img {
    float: right;
    width: 400px;
    padding-left: 15px;
}

.right {
    text-align: right;
}
/*.row{margin-bottom:5px;}*/
/*.control-label{margin-top:6px; font-size: 15px; font-weight:500;}*/
a.btn {
    margin-top: 15px;
}

.help-block {
    color: Red;
}

.clear {
    clear: both;
}

/*----------------*/

.lblMsgError {
    font-family: Helvetica, sans-serif;
    font-size: 8.5pt;
    color: Red;
    width: 468px;
}

.txtVerdana7 {
    font-family: Verdana;
    Font-Size: 7pt;
}

.divBtnMsg {
    padding-left: 0%;
    text-align: center;
}


.cajaazul {
    background-color: #001c43;
    margin: 0;
}

.cajablanca {
    background-color: #ffffff;
    height: 85px;
}

.heading1 {
    background-color: #ffffff;
    color: #5A4A42;
    border-bottom: 2px dotted #5A4A42;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0;
}




img {
    display: block;
    margin: auto;
}

.azul {
    color: #001c43;
}

.backgroundcafe {
    background-color: #5A4A42;
    color: #F5b400;
}

.panel-default > .panel-heading {
    color: #F5b400;
    border: 0;
}

/*
.gris1 {
    background-color: #b1b1b1;
    color: #ffffff;
}
.gris2
{
    background-color: #8d8d8d;
    color: #ffffff;
}
.panel-heading-background3
{
    background-color: #585858;
    color: #ffffff;
}

.gris3
{
    background-color: #585858;
    color: #ffffff;
}*/

.panel {
    border: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}


.row .col-md-4 {
    padding: 0;
}


.footer {
    margin: 30px;
    font-size: x-small;
}
/*
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse
{
    float:right;
}*/

#demo3, #demo4 {
    padding: 0px;
    /*padding-left:10px;*/
}

#demo3 li, #demo4 li {
    font-size: 12px;
    /*background-color: #EAEAEA;*/
    margin-bottom: 10px;
    padding: 5px;
}



#demo3 a {
    color: #999999;
}

#demo3 li {
    background-color: #CCCCCC;
}


/*
#demo3 li:nth-child(2n+1)  
{
    background-color: #FFF4C6;
}  
     
#demo3 li:nth-child(2n)    
{
    background-color: #CCCCCC;
}*/

.links {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight:'Heuristica-Regular';
}


#panel3 .pagination > li > a, .pagination > li > span { /*
    color:#5A4A42;
    background-color: #F5b400;
    border: 1px solid #ffc650;*/
    color: #999999;
    background-color: white;
    border: 1px solid #CCCCCC;
}

#panel3 .panel-footer {
    padding: 10px 15px;
    background-color: #F5F5F5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


#panel2 .panel-footer {
    background-color: #F5F5F5;
}

#panel2 .pagination > li > a, .pagination > li > span {
    color: #999999;
    background-color: white;
    border: 1px solid #CCCCCC;
}














/*.nav-tabs > li.active > a
.nav-tabs > li.active > a:hover, */
.nav-tabs > li.active > a:focus {
    color: #F5b400;
    background-color: #5A4A42;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
}

.nav-tabs > li > a {
    /*color: #fff;
    background-color: #F5b400;*/
    color: #001c43;
    background-color: #fff;
    border-bottom-color: #999999;
}

.nav-tabs > li.active > a {
    /*color: #F5b400;
    background-color: #5A4A42;*/
    color: #F5b400;
    background-color: #001c43;
    background-image: url(../images/mas.png) no-repeat left center;
}

.nav-tabs > li > a:hover {
    /* color: #5A4A42;
    background-color: #F5b400;
    border-color:#5A4A42;*/
    color: #F5b400;
    background-color: #fff;
    border-color: #F5b400;
}


.nav-tabs > li.active > a:hover {
    color: #F5b400;
    background-color: #001c43;
    border-color: #001c43;
}

.fondotabs {
    margin: 0 10px 0 0;
    background-color: Red;
    background: #FFF url(../images/mas.png) no-repeat left center;
}

.btn-amarillo {
    color: #5A4A42;
    background-color: #F5b400;
    border-color: #F5b400;
}

.btn-cafe {
    color: #5a4a42;
    background-color: #5A4A42;
    border-color: #5A4A42;
    font-size: small;
}


.modal-content {
    position: relative;
    /*background-color: #5a4a42;*/
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.white {
    color: White;
}


.amarillo {
    color: #F5b400;
}

#btnclose:hover {
    color: #F5b400;
}

.loginInput {
    background-color: #CCCCCC;
}

.loginLabel {
    color: #001C43;
}

.loginBoton {
    background-color: #F5b400;
}


.ui-widget-header a {
    color: #fff;
}

/*--------------------------------------------------*/


.fieldset {
    width: auto;
    /*border:1px double #0080FF;*/
    /*vdm*/
    border: 1px double #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: White;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    color: #0B173B;
    margin-left: -10px;
}

.fieldset1 {
    width: 500px;
    border: 4px double #0080FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 6px #808080;
    -moz-box-shadow: 8px 8px 6px #808080;
    box-shadow: 8px 8px 6px #808080;
    background-color: #CEECF5;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    color: #0B173B;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

.fieldsetint {
    background-color: White;
    border-right: #a6c9e2 thin solid;
    border-top: #a6c9e2 thin solid;
    border-left: #a6c9e2 thin solid;
    border-bottom: #a6c9e2 thin solid;
    margin-left: 10px;
}

.fieldsetSimple {
    border-right: transparent thin solid;
    border-top: #3399cc thin solid;
    border-left: transparent thin solid;
    border-bottom: transparent thin solid;
}

.legend {
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
    /*color: Navy;*/
    color: gray;
    text-shadow: 0px 0px 0px #3399cc;
}

.legendint {
    text-align: left;
    font-weight: normal;
    font-size: 10pt;
    /*color: #0080FF;*/
    /*vdm*/
    /*color: Navy;*/
    color: Gray;
    text-shadow: 0px 0px 0px #BA55D3;
}

.legend1 {
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
    color: #B4045F;
    text-shadow: 0px 0px 10px #BA55D3;
}

/*.ui-widget-content {
    border: 1px solid #A6C9E2;
    background: url('images/ui-bg_inset-hard_100_fcfdfd_1x100.png') repeat-x scroll 50% bottom #FCFDFD;
    color: #222;
}*/
/*.form-group{ margin-bottom: 0;}*/
.control-label {
    margin-top: 0;
    font-size: 12px;
}

a.btn {
    margin-top: 0;
}

p.nota {
    font-size: 9px;
    color: #001c43;
}

#tabs-1 fieldset {
    margin-bottom: 20px;
}

#tabs-1 fieldset h1 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.table-bordered {
    padding: 10px;
}

.sin-padding {
    padding: 0;
}

.form-group {
    margin-bottom: 0;
}

.ui-tabs-vertical {
    width: auto;
}

.main {
    min-height: 250px;
}

#logout-container {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.lblMsgGuardar {
    font-style: italic;
    color: #001c43;
    text-shadow: 0px 0px 0px #3399cc;
}

.GridPager a, .GridPager span {
    display: block;
    height: 19px;
    width: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}

.salir {
    background-image: url(../images/Salir.png);
    background-repeat: no-repeat;
    height: 33px;
    cursor: pointer;
    display: block;
}

.salir:hover {
    background-image: url(../images/Salir-mo.png);
}

thead tr {
    color:White;
    background-color:#001a43;
    font-size:12px;
    font-weight:bold;
    height:30px;
}
tbody tr.odd {
    color: Black;
    background-color: White;
    font-size: 12px;
}
tbody tr.even {
    color: Black;
    background-color: #ebebeb;
    font-size: 12px;
}

thead>tr>th, tbody>tr>th, tfoot>tr>th, thead>tr>td, tbody>tr>td, tfoot>tr>td {
    padding: 3px;
}

.space-15 { margin: 15px 0; }

.loader-big {
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.loader-big img {
    top: 50%;
    left: 50%;
}

table.t_autoridades thead tr {
    color: #000000;
}

.error {
    color: #ff0000;
}

.modalContent1 {
    background-color: #ffffff;
}

#tblautoridades button.btn {
    margin-bottom: 5px;
}
