body{
background-image: url('https://www.fiec.espol.edu.ec/servicios/srfiec/bundles/util/images/blanco.jpg');
background-size: 100% 100%;
font-family:Tahoma;
font-size:15px;
margin:0px;
min-height:700px;
}

#logo_container{
width:100%;
}
#logo_sistema{
text-align:center;
width:40%;
margin-left:30%;
margin-right:30%;
}

.container{
background-color:rgba(210,210,210,0.4);
margin-left:25%;
margin-right:25%;
margin-top:10px;
padding-top:20px;
width:50%;
min-height:800px;
box-shadow: 0px 1px 15px #888888;
}
.text-center{
text-align:center;

}
.form-signin{
margin-left:27%;
margin-right:31%;
margin-top:20px;
text-align:center;
background-color:rgba(153,153,153,0.5);
border: 2px solid #a1a1a1;
padding: 10px; 
border-radius: 8px;
width:44%;
box-shadow: 0px 0px 15px #888888;

}

.form-login{
padding-top:50px;
margin-left:27%;
margin-right:31%;
margin-top:20px;
width:44%;
background-color:rgba(153,153,153,0.5);
border: 2px solid #a1a1a1;
padding: 10px; 
border-radius: 8px;
box-shadow: 0px 0px 15px #888888;
}
 #user{margin-left:5%;height:25px;}
 #pass{margin-left:5%;height:25px;}

 
.form-login .boton{text-align:center} 
 
.form-login p{text-align:center; margin:0;}


.copyright{
margin-top:10px;margin-bottom:10px;
line-height: 15px;
padding: 8px 0px 8px 0px;
text-align: center;
color: #FFF;
background-color:#696969;
font-size:13px;
margin-left:25%;
margin-right:25%;
box-shadow: 0px 0px 15px #888888;

}

.copyright p{
margin:10px;
}
.copyright p a {
  color:white;
}

.form-control{
margin:10px;padding:3px;
}
/*#btn_login{
color:white;
background-color:white;
}*/


.boton{ /* clase general */

  border: 1px solid #dedede;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 5px 5px;
}

.boton{
  background: #0076A3;
  border-color: #dedede #d8d8d8 #d3d3d3;
}

.boton:hover{
    background: #005E82;
    border-color: #c7c7c7 #c3c3c3 #bebebe;

}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #356635;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #2d6987;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.alert-warning hr {
  border-top-color: #f8e5be;
}

.alert-warning .alert-link {
  color: #a47e3c;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger hr {
  border-top-color: #e6c1c7;
}

.alert-danger .alert-link {
  color: #953b39;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

#head_login{margin:0px;
border-bottom: 1px solid #DDD;font-size:17px;
}
#verisign{
margin-left:60px;
}
.text-muted {margin:0px;padding-bottom:10px;border-bottom: 1px solid #DDD;
}
.logos{
float:left;
margin-left:40px;

}
#set_logos{
margin-top:35px;
padding-bottom:35px;
margin-left:13%;margin-right:15%;
width:70%;
height:70px;
padding-right:5%;
padding-left:20px;
padding-top:50px;
}

#dst{
margin-right:50px;
width:183px;
height:73px;
}

#fiec{
width:163px;
height:53px;
}

.text-muted{list-style:none;list-style-type:none;text-decoration:none}

.list-inline{list-style:none;padding-left:10px; }

.list-inline li a{color:white;}

.tab-content{
padding-top: 100px;
}

#enlaces_sesion{
padding-top:50px;padding-bottom:10px;
}
#sistema{
font-size:25px;
text-align:center;
/*font-family:Myriad Pro;margin:8px;
*/
font-family:"Lato",sans-serif;

}

#titulo_site{

/*background-color:rgba(153,153,153,0.5);
border: 2px solid rgba(153,153,153,0.0);*/
/*text-align: center;*/

}

/* vendor prefixes removed for clarity */
.ribbon {
    /*width: 350px;background: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
    margin: 0px auto;
    /*padding: 0 10px 0;*/
    position: relative;
    color: #444;    
    
    border-radius: 3px;
    
}
.ribbon p {
    display: block;
	line-height: 1.3;
    /*height: 30px;
    
    width: 360px;*/
    margin: 0;
    /*padding: 5px;*/
    position: relative;
    left: -12px;
    /*top: 8px;*/
    color: #F5F5F5;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    /*background: #333;*/
	background-color: #696969;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	width:102.55%;
}
.ribbon p::before,
.ribbon p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;    
}
.ribbon p::before {left: 0;}
.ribbon p::after {right: 0;}




@media only screen and (max-width: 1280px) {
    .container{
	width:90%;
	margin-left:5%;margin-right:5%
	}
	
	.ribbon p {
	width:102%
	}
	.copyright{
	margin: 10px 5% 0px 5%;
	}
	#logo_sistema p img{
	width:256px;
	height:60px;
	}
	.ribbon p {
    display: block;
	line-height: 1.3;
    /*height: 30px;
    
    width: 360px;*/
    margin: 0;
    padding: 5px;
    position: relative;
    left: -10px;
    top: 8px;
    color: #F5F5F5;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    /*background: #333;*/
	background-color: #696969;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	width:102.4%;
	}
}


@media only screen and (max-width: 980px) {
    .container{
	width:100%;
	margin-left:0%;margin-right:0%
	}
	
	.ribbon p {
	width:103%
	}
	.copyright{
	margin: 0px;
	}
	#logo_sistema p img{
	width:245px;
	height:60px;
	}
}
@media only screen and (max-width: 813px) {
    .container{
	width:90%;
	margin-left:5%;margin-right:5%
	}
	
	.ribbon p {
	width:103%
	}
	.copyright{
	margin: 10px 5% 0px 5%;
	}
	#logo_sistema p img{
	width:256px;
	height:60px;
	}
}


@media only screen and (max-width: 800px) {
    .container{
	width:90%;
	margin-left:5%;margin-right:5%
	}
	
	.ribbon p {
	width:103%
	}
	.copyright{
	margin: 10px 5% 0px 5%;
	}
	#logo_sistema p img{
	width:256px;
	height:60px;
	}
}
@media only screen and (max-width: 768px) {
    .container{
	width:100%;
	margin-left:0%;margin-right:0%
	}
	
	.ribbon p {
	width:103.5%
	}
	.copyright{
	margin: 0;
	}
	#logo_sistema p img{
	width:180px;
	height:51px;
	}
	
	.form-login{
	/*padding-top:10px;*/
	margin-left:8%;
	margin-right:12%;
	margin-top:30%;
	/*margin-top:5px;*/
	width:77%;
	background-color:rgba(153,153,153,0.5);
	border: 2px solid #a1a1a1;
	padding: 10px; 
	border-radius: 8px;
	box-shadow: 0px 0px 15px #888888;
	
	}
	.tab-content{
	padding-top: 30px;
	}
	#header_login{font-size:17px;}
	#user{margin-left:3%;height:25px;width:80%;font-size:17px;}
	#pass{margin-left:3%;height:25px;width:80%;font-size:17px;}
	
	.form-control{
	margin:8px;padding:3px;
	}
	
	#set_logos{
	margin-top:5px;
	padding-bottom:10px;
	margin-left:2%;margin-right:2%;
	width:96%;
	height:70px;
	padding-right:0%;
	padding-left:0px;
	padding-top:5px;
	}
	#dst{
	margin-right:30px;
	width:100px;
	height:50px;
	}

	#fiec{
	width:120px;
	height:50px;
	}
	
	
/* vendor prefixes removed for clarity */
.ribbon {
    /*width: 350px;background: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;    
    
    border-radius: 3px;
    
}
.ribbon p {
    display: block;
	line-height: 1.3;
    /*height: 30px;
    
    width: 360px;*/
    margin-bottom: 5px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #F5F5F5;
    text-shadow: 0 1px 1px #111;
    border-top: 0px solid #363636;
    border-bottom: 0px solid #202020;
    /*background: #333;*/
	background-color: #696969;
    background: linear-gradient(top, #383838 0%, #262626 0%);
    border-radius: 0px 0px 0 0;
    box-shadow: 0 0px 2px rgba(0,0,0,0.3);
	width:100%;
}
.ribbon p::before,
.ribbon p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: 0;
    bottom: 0px;
    z-index:0;
    border: 0px solid;
    /*border-color: #242424 transparent transparent transparent; */   
}
.ribbon p::before {left: 0;}
.ribbon p::after {right: 0;}
/*.copyright p{font-size:10px}*/

	
}


@media only screen and (max-width: 360px) {
    .container{
	width:100%;
	margin-left:0%;margin-right:0%
	}
	
	.ribbon p {
	/*width:104%*/
	}
	.copyright{
	margin: 0%;
	}
	#logo_sistema p img{
	width:240px;
	height:50px;
	}
	#logo_sistema{
	text-align:center;
	width:40%;
	margin-left:15%;
	margin-right:15%;
	}
	.form-login{
	/*padding-top:10px;*/
	margin-top:15%;
	/*margin-top:5px;*/
	width:77%;
	background-color:rgba(153,153,153,0.5);
	border: 2px solid #a1a1a1;

	border-radius: 8px;
	box-shadow: 0px 0px 15px #888888;
	font-size:15px;
	}
	.tab-content{
	padding-top: 30px;
	}
	#head_login{font-size:20px}
	#user{margin-left:3%;height:25px;width:80%;font-size:16px;}
	#pass{margin-left:3%;height:25px;width:80%;font-size:16px;}
	
	.form-control{
	margin:8px;padding:3px;
	}
	
	#set_logos{
	margin-top:5px;
	padding-bottom:10px;
	margin-left:2%;margin-right:2%;
	width:96%;
	height:70px;
	padding-right:0%;
	padding-left:0px;
	padding-top:5px;
	}
	#dst{
	margin-right:30px;
	width:100px;
	height:50px;
	}

	#fiec{
	width:120px;
	height:50px;
	}
	

/* vendor prefixes removed for clarity */
.ribbon {
    /*width: 350px;background: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;    
    
    border-radius: 3px;
    
}
.ribbon p {
    display: block;
	line-height: 1.3;
    /*height: 30px;
    
    width: 360px;*/
    margin-bottom: 5px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #F5F5F5;
    text-shadow: 0 1px 1px #111;
    border-top: 0px solid #363636;
    border-bottom: 0px solid #202020;
    /*background: #333;*/
	background-color: #696969;
    background: linear-gradient(top, #383838 0%, #262626 0%);
    border-radius: 0px 0px 0 0;
    box-shadow: 0 0px 2px rgba(0,0,0,0.3);
	width:100%;
}
.ribbon p::before,
.ribbon p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    z-index:0;
    border: 0px solid;
    /*border-color: #242424 transparent transparent transparent; */   
}
.ribbon p::before {left: 0;}
.ribbon p::after {right: 0;}
.copyright p{font-size:10px}

#sistema{font-size:18px}

}

@media only screen and (max-width: 320px) {
    .container{
	width:100%;
	margin-left:0%;margin-right:0%
	}
	
	.ribbon p {
	/*width:104%*/
	}
	.copyright{
	margin: 0%;
	}
	#logo_sistema p img{
	width:240px;
	height:50px;
	}
	#logo_sistema{
	text-align:center;
	width:40%;
	margin-left:15%;
	margin-right:15%;
	}
	.form-login{
	/*padding-top:10px;*/
	margin-left:8%;
	margin-right:12%;
	margin-top:15%;
	/*margin-top:5px;*/
	width:77%;
	background-color:rgba(153,153,153,0.5);
	border: 2px solid #a1a1a1;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #888888;
	font-size:15px;
	}
	.tab-content{
	padding-top: 30px;
	}
	#head_login{font-size:20px}
	#user{margin-left:3%;height:25px;width:80%;font-size:16px;}
	#pass{margin-left:3%;height:25px;width:80%;font-size:16px;}
	
	.form-control{
	margin:8px;padding:3px;
	}
	
	#set_logos{
	margin-top:5px;
	padding-bottom:10px;
	margin-left:2%;margin-right:2%;
	width:96%;
	height:70px;
	padding-top:5px;
	}
	#dst{
	margin-right:30px;
	width:100px;
	height:50px;
	display:none;
	}

	#fiec{
	width:120px;
	height:50px;
	}
	

/* vendor prefixes removed for clarity */
.ribbon {
    /*width: 350px;background: #fff;
	border: 1px solid #d2d2d2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    color: #444;    
    
    border-radius: 3px;
    
}
.ribbon p {
    display: block;
	line-height: 1.3;
    /*height: 30px;
    
    width: 360px;*/
    margin-bottom: 5px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #F5F5F5;
    text-shadow: 0 1px 1px #111;
    border-top: 0px solid #363636;
    border-bottom: 0px solid #202020;
    /*background: #333;*/
	background-color: #696969;
    background: linear-gradient(top, #383838 0%, #262626 0%);
    border-radius: 0px 0px 0 0;
    box-shadow: 0 0px 2px rgba(0,0,0,0.3);
	width:100%;
}
.ribbon p::before,
.ribbon p::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: 0;
    bottom: 0px;
    z-index:0;
    border: 0px solid;
    /*border-color: #242424 transparent transparent transparent; */   
}
.ribbon p::before {left: 0;}
.ribbon p::after {right: 0;}
.copyright p{font-size:10px}

#sistema{font-size:18px}
}