/* CURSO.HTML.TWIG */

#section-tabs .home {
    position: relative;
    background-color: white;
    margin-right: -1px;
    z-index: 11;
    padding: 7px 0 7px 23px;
    font-size: 20px;
}
.nav li ul{
    display: none;
}
.nav li:hover > ul {
    display:block;
}
*{
    margin:0px;
}

#target td {
    /* para centrado vertical de contenido */
    padding: 0px;
    border: 1px solid  rgb(221,221,221);
    text-align: -webkit-center;

}

.table-responsive {
   /* width: 1080px;*/
    height: auto;
    /*margin-left: 16px;*/
    overflow: inherit;
    overflow-x: inherit;
}

.table-responsive table tbody td{
    text-align: center;
    vertical-align: middle;
    width: auto;
}

/*Estilos de Sidebar: Luis*/
#sidebar_cursos{
    padding: 15px 7px 7px;
}

#sub-t{
    color: #337ab7;
    font-size: 1.3em;
}

#sub-t2{
    color: #337ab7;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

#nom-cur{
    color: #0a0a0a;
    margin: 2px 5px 2px;
    font-size: 1.8em;
}

div#sidebar_cursos hr{
    margin: 2px 0px 4px;
    padding: 0px;
}

#sb-dia{
    margin-left: 20px;
}

#sb-info-dia{
    background-color: #337ab7;
    color:white;
    font-size: 1em;
    font-weight: bold;
    padding: 3px;
}

#sb-info{
    padding: 2px;
    font-size: 0.9em;
    display: inline-block;
    width: 40%;
    font-weight: bold;
}

#sb-data{
    padding: 2px;
    font-size: 0.9em;
    display: inline-block;
    width: 60%;
}

#sb-content{
    margin: 10px 0px 0px 10px;
}

/*tabla de clases*/
.glyphicon.estadoClase {
    font-size: 2em;
    display:block;
    text-align:center;
    margin-top: 10%;
}

.lista_objetivos{
    max-height: 150px;
    overflow: auto;
    max-width: 350px;
}

.lista_desc{
    max-height: 150px;
    overflow: auto;
    max-width: 400px;
}

ul.desc{
    list-style-type: square;
    padding-left: 20px;
}

ul.obj{
    list-style-type: square;
    padding-left: 20px;
}

.contenidoComentarios{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 200px;
}

.modal-sm {
    width: 400px;
}

@media (max-width: 984px) {
    #main{
        border-top: 1px solid #ddd;
    }
    #sidebar_cursos{
        margin-left: 13px;
        margin-bottom: 20px;
    }

}


.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
/*CSS reportes.html.twig*/
#textoDiv{
    width: 140%;border-style:dotted solid dashed ; border-color: #001c43;  height: 100px; text-align: center; margin-top: 30px
}
#textoDiv p{
    margin-top: 32px
}
#materiaDiv{
    margin-top: 53px; display: none;
}
#materiaDiv select{
    width: 140%
}
#profesorDiv{
    display: none; margin-top: 95px
}
#profesorDiv select{
    width: 140%
}
#fechaDiv{
    display: none;margin-top: 110px
}
#btnReporte{
    background-color: #001c43; color: white
}
#btnReporte:hover{
    color: #F5b400
}
#matDiv{
    display: none;
}
#matDiv select{
    width: 140%;margin-top: 40px
}
#semestreDiv select{
    width: 140%
}
@media (max-width: 976px) {
    .select {
        width: 350px;
    }
}
@media (max-width: 710px) {
    #selectEstilo{
        float: left;
    }
    #botonesSelect{
        width: 100%;
    }
    #choose{
        width: 100%;
    }
}

div.tab-justificacion{
    max-width: 400px;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}


/*loading screen*/
#loadingDivSt{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

}

#loadingMsg{
    position: relative;
    top: 35%;
    margin: 0px 34% 0px;
    width: 33%;
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 50px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f6b400;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#cargandoMsg{
    display: inline-block;
    position: relative;
    top: -27px;
    padding-left: 19px;
    color: white;
    font-size: 3em;
}

@media (max-width: 1314px) {
    #cargandoMsg{font-size: 2.1em;}
    #loadingMsg{padding: 10px}
}

@media (max-width: 874px) {
    #cargandoMsg{display: none}
    #loadingMsg{padding: 10px; width: 115px}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}